.flex{
    display: flex;
}
.j-c-c{
    display: flex;
    justify-content: center;
}
.j-c-b{
    display: flex;
    justify-content: space-between;
}
.a-i-c{
    display: flex;
    align-items: center;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.m-medium{
    margin: 16px;
}
.m-t-medium{
    margin: 16px 0 0 0;
}