*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.wrap-flex{
    display: flex;
    justify-content: flex-end;
}
.card-body{
    .card-title{
        @include button-base(48px, center)
    }
    .btn{
        background-color: pink;
        box-shadow: 2px 2px 5px red;
        border: 0;
        color: #fff;
    }
}
.nav-tabs{
    ul{
        margin: 0;
    }
    .nav-link{
        color: orange;
        &.active {
            color: red;
        }
        &:disabled {
            color: blue;
        }
    }
}
.flex{
    display: flex;
    &__s-b{
        display: flex;
        justify-content: space-between;
    }
}
.row > div{
    background: pink;
    border: 1px solid #000;
}